body{
    margin: 0;
    min-height: 100vh;
    background-color: rgb(15, 20, 38);
}

nav, footer{
    background-color: rgb(255, 128, 15);
}

a {
    color: white;
}

p{
    margin: 0;
    color: black;
}



.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.day, .empty {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.boutons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.boutons button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}